<launch>

	<!-- Make sure all nodes are using the simulation time, so that TF works -->
	<param name="use_sim_time" type="bool" value="true" />

	<!-- Start up a simulator. -->
	<include file="$(find stage_osu)/launch/simple_rooms.launch" />

	<!-- Start a custom rviz, and a logger so we can see the log messages we want. -->
	<node pkg="rviz" name="rviz" type="rviz" args="-d $(find lab3)/config/nav.rviz" />
	<node pkg="rqt_console" name="rqt_console" type="rqt_console" />

	<!-- Start the SLAM node. -->
	<node pkg="gmapping" name="SLAM" type="slam_gmapping">
		<remap from="scan" to="base_scan" />
		<param name="linearUpdate" value="0" />
		<param name="angularUpdate" value="0" />
	</node>

	<!-- Start the driver and controller nodes. -->
	<node pkg="lab3" name="driver" type="student_driver.py" />
	<node pkg="lab3" name="controller" type="student_controller.py" />

	<arg name="record" default="false" />
	<node pkg="rosbag" type="record" name="map_recorder" args="-O $(find lab3)/bags/map_recording /map /tf /odom /base_scan" if="$(arg record)" />
</launch>
